.loginbox
{
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 15%;
    border-radius: 1em;
}
#username 
{
    margin: 1em;
    border-radius: .3em;
}
#password{
    margin: 1em;
    border-radius: .3em;
}
#loginenter
{
    width: 25%;
    margin: auto;
    background-color: aqua;
    margin-bottom: 2em;
    margin-top: 2em;
}