.coursepage
{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2em;
    height: 100vh;
    margin: 2em;
    margin-top: 0.5em;
}
h1
{
    margin-left: 1em;
}
h2{
    margin-left: 1em;
}
.course{
    margin: auto;
    background-image: url("https://img.freepik.com/free-vector/gradient-abstract-background_23-2149131346.jpg?size=626&ext=jpg&ga=GA1.1.144060871.1694963429&semt=ais");
    height: 30vh;
    width: 100%;
    border-radius: 1em;
    background-repeat: no-repeat;
}
.coursename
{
    background-color: antiquewhite;
    margin-top: 35%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}